.form-button-color {
    background-color: #d13900 !important;
    font-size: 10px !important;
}
.form-reset-button-color {
    background-color: #f00 !important;
    font-size: 10px !important;
}
.profile-form {
    background-color: #fff;
    padding: 35px;
    height: 65vh;
}
.alignFormFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formInputs {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    column-gap: 20px;
}
.formButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 1rem;
}